/* Chat.css */

.app-container {
  display: flex;
  height: 100vh;
}

/* Sidebar styles */
.sidebar {
  background-color: #636e72; /* Altera a cor de fundo da barra lateral */
  color: #fff;
  padding: 20px;
  width: 300px;
  overflow-y: auto;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo-chat {
  width: 180px;
}

.menu-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; /* Espaçamento abaixo do título do menu */
}

.menu-actions {
  display: flex;
  align-items: center;
}

.action-icon {
  margin-right: 10px;
}

.chat-list {
  list-style-type: none;
  padding: 0;
}

.chat-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #95a5a6; /* Adiciona uma borda inferior a cada item do chat */
}

.chat-item:hover {
  background-color: #95a5a6; /* Altera a cor de fundo ao passar o mouse sobre o item do chat */
}

.chat-name {
  font-weight: bold;
  margin-bottom: 5px; /* Espaçamento abaixo do nome do chat */
}

.chat-counter {
  background-color: #e74c3c; /* Altera a cor de fundo do contador de mensagens não lidas */
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

/* Main content styles */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #636e72; /* Altera a cor de fundo do cabeçalho */
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.header button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.chat-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha as mensagens à esquerda */
}

.message {
  max-width: 70%;
  margin-bottom: 10px; /* Espaçamento entre as mensagens */
  padding: 10px;
  border-radius: 10px;
}

.sent {
  align-self: flex-end; /* Alinha as mensagens enviadas à direita */
  background-color: #3498db; /* Altera a cor de fundo das mensagens enviadas */
  color: #fff;
}

.received {
  align-self: flex-start; /* Alinha as mensagens recebidas à esquerda */
  background-color: #95a5a6; /* Altera a cor de fundo das mensagens recebidas */
}

.message-sender {
  font-size: 14px;
  margin-top: 5px;
}

.message-date {
  font-size: 12px;
  margin-top: 5px;
}

.no-chat-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.message-input {
  background-color: #fff; /* Altera a cor de fundo do campo de entrada de mensagem */
  padding: 15px;
  border-top: 1px solid #bdc3c7; /* Adiciona uma borda superior ao campo de entrada de mensagem */
  display: flex;
  align-items: center;
}

.chat-input input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #bdc3c7; /* Altera a cor da borda do campo de entrada de mensagem */
  outline: none;
  flex-grow: 1;
}

.chat-input button {
  background-color: #3498db; /* Altera a cor de fundo do botão de enviar */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.chat-input button:hover {
  background-color: #2980b9; /* Altera a cor de fundo do botão de enviar ao passar o mouse sobre ele */
}
